{% extends "layout.html" %}

{% block body %}
{% for photo in photos %}
  <img src="/static/images/{{ photo.photo_link }}" width=100 heigth=100>
{% endfor %}


<form method="POST" action="{{ url_for('users_update', account_id = account.id) }}" enctype="multipart/form-data">
  <table>
    <tr>
      <td>
        {{ form.username.label }}
      </td>
      <td>
        {{ form.username(class_="form-control") }}
      </td>
      <td>
        <ul>
          {% for error in form.username.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.photo.label }}
      </td>
      <td>
        {{ form.photo(class_="form-control-file") }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.password.label }}
      </td>
      <td>
        {{ form.password(class_="form-control") }}
      </td>
      <td>
        <ul>
          {% for error in form.password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.email.label }}
      </td>
      <td>
        {{ form.email(class_="form-control") }}
      </td>
      <td>
        <ul>
          {% for error in form.email.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit" class="btn btn-primary">Edit account</button>
      </td>
    </tr>
</form>
{% endblock %}