{% extends "layout.html" %}

{% block body %}
{% for photo in photos %}
  <img src="/static/images/{{ photo.photo_link }}" width=100 heigth=100>
{% endfor %}


<form method="POST" action="{{ url_for('users_update', account_id = account.id) }}" enctype="multipart/form-data">
  <div class="form-group row">
    {{ form.username.label(class="col-sm-2 col-form-label") }}
    <div class="col-sm-4">
      {{ form.username(class_="form-control") }}
    </div>
  </div>
  <div class="form-group row">
    {{ form.photo.label(class="col-sm-2 col-form-label") }}
    <div class="col-sm-4">
      {{ form.photo(class_="form-control-file") }}
    </div>
  </div>
  <div class="form-group row">
    {{ form.password.label(class="col-sm-2 col-form-label") }}
      <div class="col-sm-4">
        {{ form.password(class_="form-control") }}
      </div>
  </div>
  <div class="form-group row">
    {{ form.email.label(class="col-sm-2 col-form-label") }}
      <div class="col-sm-4">
        {{ form.email(class_="form-control") }}
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Save changes</button>
  <a class="btn btn-danger" href="{{ url_for('users_delete', account_id = account.id) }}" role="button">Delete account</a>
</form>
{% endblock %}