{% extends "layout.html" %}

{% block body %}
{{ message }}

<form method="POST" action="{{ url_for('users_search')}}">
  <div class="form-group row">
    {{ form.username.label(class="col-sm-2 col-form-label") }}
    <div class="col-sm-4">
      {{ form.username(class_="form-control") }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="card-deck">
  {% if accounts %}
    {% for account in accounts %}

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/images/{{ account.photo }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ account.username }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="{{ url_for('users_show', account_id=account.id) }}" class="btn btn-primary">Show</a>
      </div>
    </div>

    {% endfor %}
  {% endif %}
</div>
{% endblock %}